
$bodyposition:relative;
$font-stack:    Helvetica, sans-serif;
$primary-color:black;
$font-size:14px;
$backgound: white;
$input-background-color:#E4E6E7;
$container: relative;
$center:center;
$padding-searchbar:20%;
$searchbar-width:500px;
$searchbar-height:30px;
$right: right;
$border-radius:15px;
$border-width:1px;
$div-searchbar:hidden;
$input-outline:none;
$submit-button-color:green;
$submit-button-margin-top:20px;
$pointer-events-parent:none;
$pointer-events-child:auto;
$advance-button-backgrcolor:#35B7E0;
$advance-button-color:white;

body {
  position: $bodyposition;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $backgound;
  font-size: $font-size;
}
.container{
  position: $container;
  pointer-events: $pointer-events-parent;
}
.links-position{
float:$right;
}
.searchbar{
  text-align:$center;
  padding-top: $padding-searchbar;
  $border-width:$border-width;
}
#searchbar-size{
  width: $searchbar-width;
  height: $searchbar-height;
  border-radius: $border-radius;
  border-width: $border-width;
}
a{
  pointer-events: $pointer-events-child;
  }  
input{
  background-color: $input-background-color;
  pointer-events: $pointer-events-child;
 
}
input:focus{
  border:solid 2px #35B7E0;
  outline: $input-outline;
}
input[type="submit"]{
margin-top: $submit-button-margin-top;
border-radius: $border-radius;
}
.advance-button{
  background-color: $advance-button-backgrcolor;
  color: $advance-button-color;
}
.advance-input1-design{
  margin-left:80px;
  width: 600px;
  height: 20px;
}
.advance-input2-design{
  width: 600px;
  height: 20px;
}
.advance-input3-design{
  margin-left:70px;
  width: 600px;
  height: 20px;
}
.advance-input4-design{
  margin-left:45px;
  width: 600px;
  height: 20px;
}



